h2
{
    
    justify-content: center;
    align-items: center; 
    color: white;
}

.Videojuegos
{
    margin-top: 3vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction:column;
    width: 50%;
    /*background-color: red;*/
}

.Juegos
{
    margin-bottom: 3vh;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 35vh;
    width: 30%;
    background-color: rgb(34, 84, 177);
    border-radius: 1.0649627263045793vh;
    /* border: solid 0.21299254526091588vh black; */
}

.PosterJuego
{
    min-width: 15vw; 
    display: inline;
    justify-content: center;
    align-items: center;
}

.Propiedades
{
    display:inline;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 22vw; 
    font-size: calc(0.5324813631522897vh + 2vmin);
}

.Nombres
{
    margin-top: .5vh;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Boton
{
    font-size: calc(0.5324813631522897vh + 2vmin);
    margin-bottom: 1vh;
}

img
{
    margin-top: 2vh;
    width: 90%;
}